@use "./variables";

.ScreenMobile {
  background-color: var(--background-color);
  height: 90vh;

  .EditorHeaderMobile {
    height: 10vh;
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: space-between;
    z-index: 100;
    .headerLogo {
      width: 7rem;
      height: fit-content;
      align-self: center;
      margin-right: 1rem;
    }
    button {
      background-color: transparent;
      border: none;
      padding: 2vw;
      display: flex;
      align-items: center;
      cursor: pointer;
      font-family: var(--regular-font);
    }
  }
  .EditorMainMobile {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    .CustomizerSwiper {
      font-family: var(--regular-font);
      grid-row: 2/3;

      text-align: -webkit-center;
    }
    .imageSelect {
      img {
        width: inherit;
        height: inherit;
      }
    }
    .ImageFileDivMobile {
      display: flex;
      justify-content: center;
      column-gap: 2vw;
    }
    .imageSelectorFile {
      display: flex;
      align-items: center;
      justify-content: space-between;
      z-index: 99;
    }

    .File {
      align-self: center;
      margin-bottom: 2vw;
      input {
        display: none;
      }
      label {
        // width: 3vw;
        // height: 3vw;
        padding: 0;
        align-items: center;
        display: flex;
        justify-content: center;
        background-color: transparent;
        border: solid var(--grey) 1px;
        cursor: pointer;
        :hover {
          box-shadow: 1px 1px 2px var(--grey);
          transition: all 0.2s;
        }
        img {
          width: inherit;
        }
      }
    }
    .LogoSwiper {
      .LogoListContainer {
        display: flex;
        justify-content: space-between;
        width: 80%;
        padding: 0;
        margin: 0.2rem 0;
        .LogoListItem {
          list-style: none;
          height: 5vw;
          width: 8%;
          display: flex;
          background-color: white;
          padding: 0.4rem;
          border: solid var(--grey) 1px;
          cursor: pointer;

          img {
            width: 100%;
            align-self: center;
          }
        }
      }
    }
    .ColorSwiper {
      // margin-top: 3vh;

      .ColorListContainer {
        display: flex;
        justify-content: space-between;
        width: 80%;
        padding: 0;
        margin: 0.2rem 0;
        .ColorListItem {
          list-style: none;
          width: 8%;
          height: 5vw;
          cursor: pointer;
        }
      }
    }

    .customizerInput {
      margin-top: 1rem;
      input {
        height: 3vw;
        background-color: transparent;
        border: solid var(--grey) 1px;
        //   font-size: 1.2rem;
        width: 70%;
      }
      input {
        align-self: center;
      }
      label {
        display: flex;
        flex-direction: column;
      }
    }
    .inputLabel {
      font-size: 25px;
      margin: 0;
    }
  }
  .Preview {
    height: 80vh;
    background-color: var(--white);
    display: grid;
    grid-template-columns: 1fr;
    .templatContainerGrid {
      display: grid;
      align-content: center;
      justify-content: center;
      grid-column: 1/2;
    }
    .templateContainer {
      grid-column: 1/3;
      justify-content: space-around;
      display: grid;
      .image {
        grid-row: 1/9;
        grid-column: 1/2;
        background-image: url("../components/assets/abstract.jpg");
        background-position: center;
        background-size: cover;
      }
      .opacityDiv {
        grid-row: 1/9;
        grid-column: 1/2;
        background-color: white;
        opacity: 0.3;
        z-index: 2;
      }
      .TemplateText {
        grid-row: 1/9;
        grid-column: 1/2;

        z-index: 3;
      }
    }
    .appendhere {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background: rgba($color: #525252, $alpha: 0.56);
      z-index: 100;

      canvas {
        top: 50%;
        left: 50%;
      }
    }
    .ExportButtons {
      grid-column: 1/2;
      margin-top: auto;
      text-align: end;
      button {
        background-color: transparent;
        border: none;
        border-top: solid var(--grey) 1px;
        font-family: var(--medium-font);
        margin: 0.5vw;
        font-size: 1rem;
      }
    }
  }
}

.swiper-button-next,
.swiper-button-prev {
  color: black;
}
.swiper-pagination-bullet-active {
  background-color: black;
}

@media (min-width: 670px) {
  .CustomizerSwiper {
    height: 20vh;
    width: 80vw;
  }
}
@media (max-width: 669px) {
  .CustomizerSwiper {
    height: 15vh;
    width: 100vw;
    margin-top: 2rem;
    .ColorListContainer {
      .ColorListItem {
        list-style: none;
        width: 4vh;
        height: 4vh;
        cursor: pointer;
      }
    }
  }
  .swiper-button-next::after,
  .swiper-button-prev::after {
    font-size: 2rem;
  }
}
@media (min-width: variables.$min-tablet) {
  .EditorHeaderMobile {
    button {
      font-size: 1rem;
      img {
        width: 2vw;
      }
    }
  }
  .ColorSwiper {
    margin-top: 3vh;
  }
}
@media (max-width: variables.$max-tablet) {
  .ColorSwiper {
    .inputLabel {
      font-size: 25px;
    }
  }
  .EditorHeaderMobile {
    button {
      font-size: 1.5rem;
      img {
        width: 2rem;
      }
    }
  }
}
@media (min-width: variables.$min-mobile) {
  .Preview {
    grid-template-rows: 1fr 4vw;
  }

  .imageSelect {
    div {
      width: 8vw;
      height: 8vw;
    }
  }
  .File {
    label {
      width: 3vw;
      height: 3vw;
    }
  }
}

@media (max-width: variables.$max-mobile) {
  .Preview {
    grid-template-rows: 1fr 10vw;
  }
  .imageSelect {
    div {
      width: 12vw;
      height: 12vw;
    }
  }
  .File {
    label {
      width: 5vw;
      height: 5vw;
    }
  }
}
