@use "../styles/variables";
body {
  overflow: hidden;
}
.EditorScreen {
  background-color: var(--background-color);
  height: 100vh;
  .EditorHeader {
    height: 10vh;
    button {
      background-color: transparent;
      border: none;
      padding: 2vw;
      display: flex;
      align-items: center;
      cursor: pointer;
      font-family: var(--regular-font);
      font-size: 1rem;
      img {
        width: 2vw;
      }
    }
  }
  .EditorMain {
    display: grid;
    padding: 0 5rem;
    grid-template-columns: 32vw 1fr;
    height: 90vh;
    .Customizer {
      font-family: var(--regular-font);
      padding: 0 0 5vh 5vh;
      grid-column: 1/2;
      display: grid;
      height: 80vh;
      grid-template-columns: 8vw 8vw 8vw 8vw;
      .Color {
        grid-column: 1/2;
        .headerArrow {
          display: flex;
          column-gap: 2rem;
          align-items: center;
          .arrow img {
            width: 2vw;
          }
        }
      }
      .Title {
        grid-column: 1/4;
      }
      .Date {
        grid-column: 1/2;
      }
      .Time {
        grid-column: 3/4;
      }
      .Location {
        grid-column: 1/4;
      }
      .imageSelectorFile {
        grid-column: 1/4;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 99;
      }

      .File {
        align-self: flex-end;
        margin-bottom: 2vw;
        input {
          display: none;
        }
        label {
          width: 2vw;
          height: 2vw;
          padding: 0;
          align-items: center;
          display: flex;
          justify-content: center;
          background-color: transparent;
          border: solid var(--grey) 1px;
          cursor: pointer;
          :hover {
            box-shadow: 1px 1px 2px var(--grey);
            transition: all 0.2s;
          }
          img {
            width: inherit;
          }
        }
      }
      .Logo {
        grid-column: 1/4;
        .inputLabel {
          margin: 0.5vw 0;
        }
        .headerArrow {
          display: flex;
          column-gap: 2rem;
          align-items: center;
          padding: 0 1rem;
          border: solid var(--grey) 1px;
          .logoEditor {
            width: 3vw;
          }
          .arrow img {
            width: 2vw;
          }
        }
      }

      .customizerInput {
        input {
          height: 3vw;
          background-color: transparent;
          border: solid var(--grey) 1px;
          //   font-size: 1.2rem;
        }
        label {
          display: flex;
          flex-direction: column;
        }
      }
      .inputLabel {
        font-size: 20px;
      }
    }
    .Preview {
      height: 85vh;
      grid-column: 2/3;
      background-color: var(--white);
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 4vw;
      .templatContainerGrid {
        display: grid;
        align-content: center;
        justify-content: center;
        grid-column: 1/2;
        // border: solid;
        // margin: 2vw;
      }
      .templateContainer {
        grid-column: 1/3;
        justify-content: space-around;
        display: grid;
        .image {
          grid-row: 1/9;
          grid-column: 1/2;
          background-image: url("../components/assets/abstract.jpg");
          background-position: center;
          background-size: cover;
        }
        .opacityDiv {
          grid-row: 1/9;
          grid-column: 1/2;
          background-color: white;
          opacity: 0.3;
          z-index: 2;
        }
        .TemplateText {
          grid-row: 1/9;
          grid-column: 1/2;

          z-index: 3;
        }
      }
      .appendhere {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgba($color: #525252, $alpha: 0.56);
        z-index: 100;

        canvas {
          top: 50%;
          left: 50%;
        }
      }
      .ExportButtons {
        grid-column: 1/2;
        margin-top: auto;
        text-align: end;
        button {
          background-color: transparent;
          border: none;
          border-top: solid var(--grey) 1px;
          font-family: var(--medium-font);
          margin: 0.5vw;
          font-size: 1rem;
        }
      }
    }
  }
}

//CORNER BORDERS FOR CUSTOMIZER AND PREVIEW

.Customizer,
.Preview {
  position: relative;
}
.Customizer:after,
.Customizer > :first-child:after,
.Preview:after,
.Preview > :first-child:after {
  position: absolute;
  width: 150px;
  height: 150px;
  border: solid var(--grey);
  content: " ";
}

.Customizer:after,
.Preview:after {
  top: 0;
  right: 0;
  border-width: 2px 2px 0 0;
}

.Customizer > :first-child:after,
.Preview > :first-child:after {
  bottom: 0;
  left: 0;
  z-index: 0;
  border-width: 0 0 2px 2px;
}
