@use "./variables";
body {
  padding: 0;
  margin: 0;
}
.FormatTemplate {
  background-color: var(--background-color);
  height: 100vh;
  width: 100vw;
  margin: 0;
  position: absolute;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  .FormatSection {
    padding: 1rem 0;
    height: 17%;
    font-family: var(--medium-font);
    width: 70%;
    border-bottom: solid black 2px;

    .formatOptions {
      li:hover {
        background-color: #f2efe9;
        transition: all 0.2s;
      }
    }
  }
  .TemplateSection {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    label {
      align-self: center;
      font-size: 1rem;
      font-family: var(--medium-font);
      padding-bottom: 0.5rem;
    }
    .templateOptions {
      display: grid;
      grid-template-columns: 1fr 1fr;
      row-gap: 1rem;
      column-gap: 1rem;

      div:hover .templateMockupContainer {
        box-shadow: 2px 2px 5px var(--light-grey);
        transition: all 0.2s;
      }

      div {
        // width: 30vw;
        margin: auto;
        transition: all 0.2s;
        cursor: pointer;
        .templateMockupContainer {
          display: flex;
          align-items: center;
          // height: 14rem;
          border: solid var(--grey) 1.5px;
        }
      }
    }
  }
}
.storyMockup,
.postMockup {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.bannerMockup {
  width: 27rem !important;
  display: flex;
  > img {
    width: 100%;
  }
}
.mockupselected {
  box-shadow: 2px 2px 5px var(--light-grey);

  border: solid var(--grey) 1.5px;
}

.headerFormat {
  display: grid;
  justify-items: center;
  // border-bottom: solid black 2px;

  label {
    padding-top: 1rem;
    padding-bottom: 0.4rem;
  }
  .formatInputArrow {
    display: flex;
    column-gap: 2rem;
    align-items: center;
    justify-content: center;
    > * {
      width: min-content;
    }
    .arrow img {
      width: 2vw;
    }
  }

  section {
    div {
      // width: 20vw;
      background-color: #fdfbf8;
      position: relative;
    }
    li {
      padding: 1rem;
    }
  }

  .logo {
    justify-self: center;
    width: 10rem;
    height: auto;
  }
}
.arrowNext {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-family: var(--regular-font);
  font-size: 1rem;
  margin-top: 0.5vw;
  img {
    width: 1.5vw;
  }
}

@media (min-width: variables.$min-desktop) {
  .templateMockupContainer {
    height: 15rem;
  }
}

@media (max-width: variables.$max-desktop) {
  .templateMockupContainer {
    height: 13rem;
  }
}
@media (min-width: variables.$min-tablet) {
  .formatSelect {
    width: 20vw;
  }
  .templateOptions {
    div {
      width: 30vw;
    }
  }
}

@media (max-width: variables.$max-tablet) {
  .formatSelect {
    width: 30vw;
  }
  .FormatTemplate .FormatSection {
    height: 12%;
  }
  .headerFormat .logo {
    width: 6rem;
  }

  .headerFormat label {
    padding-top: 0;
  }
  .FormatTemplate {
    .TemplateSection {
      .templateOptions {
        div {
          width: 40vw;
        }
      }
    }
  }
}
@media (min-width: variables.$min-mobile) {
  .dropdownHeader {
    font-size: 1.2rem;
  }
}

@media (max-width: variables.$max-mobile) {
  .dropdownHeader {
    font-size: 1rem !important;
  }
  .headerFormat .formatInputArrow {
    column-gap: 1rem;
  }
  .formatSelect {
    padding: 0 1rem;
  }
  .headerFormat section li {
    padding: 0;
  }

  .storyMockup img {
    height: inherit;
    width: auto;
  }
  .postMockup img {
    width: inherit;
    height: fit-content;
    align-self: center;
  }
  .arrowNext img {
    width: 2vw;
  }
}
@media (max-width: 335px) {
  .storyMockup img {
    height: 80%;
    width: auto;
    align-self: center;
  }
}
