@font-face {
  font-family: "ChicaGogoNFW01-Regular";
  src: url("fonts/ChicaGogoNFW01Regular.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat Regular";
  src: url("fonts/Montserrat-Regular.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat Medium";
  src: url("fonts/Montserrat-Medium.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --heading-font: "ChicaGogoNFW01-Regular";
  --regular-font: "Montserrat Regular";
  --medium-font: "Montserrat Medium";
  --background-color: #fdfbf8;
  --light-green: #e9efed;
  --light-grey: #c3c1c4;
  --pink: #cc9e87;
  --green: #839388;
  --dark-red: #490f19;
  --grey: #6c6c6e;
  --black: black;
  --white: white;
}

//breakpoints

//max

$max-desktop: 1919px;
$max-tablet: 899px;
$max-mobile: 499px;

//min
$min-desktop: 1920px;
$min-tablet: 900px;
$min-mobile: 500px;
