.FormatTemplate {
  background-color: var(--background-color);
  height: 100vh;
  width: 100vw;
  margin: 0;
  position: absolute;
  z-index: 100;
  .FormatSection {
    padding: 1rem 0;
    height: 17%;
    border-bottom: solid black 2px;
    font-family: var(--medium-font);
  }
  .TemplateSection {
    margin-top: 2rem;
    .templateOptions {
      display: grid;
      grid-template-columns: 1fr 1fr;
      row-gap: 1rem;
      column-gap: 1rem;
      .templateContainer {
        text-align: center;
        width: 60%;
        height: 15rem;
        margin: auto;
        border: solid var(--grey) 1.5px;
        padding: 0.3rem 0;
        div {
          width: 100%;
          height: fit-content;
          > img {
            max-width: 50%;
            max-height: 15rem;
          }
        }
      }
    }
  }
}
