@use "../variables";
.abstract-story {
  .abstractTitle {
    font-size: 3.5vw;
    text-align: center;
    line-height: 3.5vw;
    word-spacing: 9vw;
    text-transform: uppercase;
  }
  .abstractTime,
  .abstractDate,
  .abstractLocation {
    width: fit-content;
    font-size: 1.7vw;
    margin: 0.5rem 1rem 0.5rem auto;
  }
  .logo {
    height: 3vw;
    width: 5vw;
    grid-row: 7/8;
    grid-column: 1/2;
    z-index: 80;
    margin-left: 2vw;
    background-repeat: no-repeat;
    img {
      width: inherit;
      height: inherit;
    }
  }
  .image {
    img {
      opacity: 0.7;
    }
  }
}

//COMMON STYLING BANNER AND POST
.abstract-banner,
.abstract-post {
  .TemplateText {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: 1fr 1fr;
  }
  .abstractTitle {
    text-align: center;
    grid-column: 1/4;
    text-transform: uppercase;
  }
  .abstractTime,
  .abstractDate,
  .abstractLocation {
    text-align: center;
    text-transform: capitalize;
    padding: 0.3rem;
    height: 2vw;
    justify-content: center;
  }
  .abstractTime,
  .abstractDate {
    border-left: solid 2px;
  }
  .logo {
    height: 3vw;
    width: 5vw;
    grid-row: 8/9;
    grid-column: 1/2;
    z-index: 80;
    margin: 0 2vw 2vw 0;
    justify-self: self-end;
    background-repeat: no-repeat;
    img {
      width: inherit;
      height: inherit;
    }
  }
  .image {
    img {
      opacity: 0.7;
    }
  }
}
//COMMON STYLING END

//SEPARATE STYLING FOR POST
.abstract-post {
  .abstractTitle {
    font-size: 3vw;
    line-height: 3.5vw;
    word-spacing: 1.5vw;
    margin-bottom: 0;
  }
}
//SEPARATE STYLING FOR BANNER
.abstract-banner {
  .abstractTitle {
    font-size: 3.5vw;
    line-height: 3.7vw;
  }
  .abstractTime,
  .abstractDate,
  .abstractLocation {
    font-size: 1.7vw;
  }
}
.TemplateText {
  font-family: var(--heading-font);
}
