@use "../variables";
.abstract-story {
  .TemplateText {
    grid-row: 1/8;
  }
  .abstractTitle {
    font-size: 3vw;
    text-align: center;
    line-height: 3.5vw;
    // word-spacing: 9vw;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    position: relative;
  }
  .abstractTitle::after {
    content: "";
    position: absolute;
    left: 10%;
    bottom: -20%;
    height: 2px;
    width: 80%;
    border-bottom: 3px solid;
  }
  .abstractTime,
  .abstractDate,
  .abstractLocation {
    width: fit-content;
    font-size: 1.7vw;
    margin: 0.5rem 1rem 0.5rem auto;
  }
  .logo {
    height: 3vw;
    width: 5vw;
    grid-row: 8/9;
    grid-column: 1/2;
    z-index: 80;
    margin-left: 2vw;
    margin-bottom: 2vw;
    background-repeat: no-repeat;
    img {
      width: inherit;
      height: inherit;
    }
  }
  .image {
    img {
      opacity: 0.7;
    }
  }
}
//COMMON STYLING BANNER AND POST
.abstract-banner,
.abstract-post {
  .TemplateText {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: 1fr 1fr;
  }
  .abstractTitle {
    text-align: center;
    grid-column: 1/4;
    text-transform: uppercase;
    align-self: center;
    position: relative;
  }
  .abstractTitle::after {
    content: "";
    position: absolute;
    left: 10%;
    bottom: -20%;
    height: 2px;
    width: 80%;
    border-bottom: 3px solid;
  }
  .eventDetails {
    display: flex;
    text-align: center;
    grid-column: 1/4;
    justify-content: space-around;
    height: fit-content;
  }
  .abstractTime,
  .abstractDate,
  .abstractLocation {
    text-align: center;
    text-transform: capitalize;
    padding: 0.3rem;
    height: auto;
    justify-content: center;
  }
  .abstractTime {
    border-left: solid 2px;
    padding-left: 2vw;
  }
  .abstractLocation {
    border-right: solid 2px;
    padding-right: 2vw;
  }
  .logo {
    height: 3vw;
    width: 5vw;
    grid-row: 8/9;
    grid-column: 1/2;
    z-index: 80;
    margin: 0 2vw 2vw 0;
    justify-self: self-end;
    background-repeat: no-repeat;
    img {
      width: inherit;
      height: inherit;
    }
  }
  .image {
    img {
      opacity: 0.7;
    }
  }
}
//COMMON STYLING END
//SEPARATE STYLING FOR POST
.abstract-post {
  .abstractTitle {
    font-size: 3vw;
    line-height: 3.5vw;
    word-spacing: 1.5vw;
    margin-bottom: 0;
  }
}
//SEPARATE STYLING FOR BANNER
.abstract-banner {
  .abstractTitle {
    font-size: 3.5vw;
    line-height: 3.7vw;
    max-width: 80%;
    margin: auto;
  }
  .abstractTime,
  .abstractDate,
  .abstractLocation {
    font-size: 1.7vw;
  }
}
.TemplateText {
  font-family: var(--heading-font);
}
// media queriess
@media (max-width: 900px) {
  .abstract-story {
    .abstractTitle {
      font-size: 4.2vw;
      line-height: 5vw;
      max-width: 90%;
    }
    .abstractTime,
    .abstractDate,
    .abstractLocation {
      font-size: 2.2vw;
      margin: 1rem 2rem 1rem auto;
    }
    .logo {
      height: 5vw;
      width: 7.2vw;
    }
    .image {
      width: 39.15vw !important;
      max-width: 65vh !important;
      height: 65vw !important;
      max-height: 106.688vh !important;
    }
  }
  .abstract-post {
    .abstractTitle {
      font-size: 4vw;
      line-height: 5vw;
    }
    .abstractTime,
    .abstractDate,
    .abstractLocation {
      font-size: 2.2vw;
      margin: 0.5rem 1rem 0.5rem 0.5rem;
    }
    .logo {
      height: 6vw;
      width: 9.5vw;
    }
  }
  .abstract-banner {
    .abstractTitle {
      font-size: 6vw;
      line-height: 6vw;
    }
    .abstractTime,
    .abstractDate,
    .abstractLocation {
      font-size: 3vw;
    }
    .logo {
      width: 9vw;
      height: 7vw;
    }
  }
}
@media (max-width: 600px) {
  .abstract-story {
    .TemplateText {
      width: 45vw !important;
    }
    .abstractTitle {
      font-size: 6vw;
      line-height: 6.5vw;
      max-width: 90%;
    }
    .abstractTime,
    .abstractDate,
    .abstractLocation {
      font-size: 3vw;
      margin: 1rem 2rem 1rem auto;
    }
    .logo {
      height: 7vw;
      width: 9.5vw;
    }
    .image {
      width: 47.8125vw !important;
      max-width: 85vh !important;
      height: 85vw !important;
      max-height: 151.13vh !important;
    }
  }
  .abstract-post {
    .abstractTitle {
      font-size: 6vw;
      line-height: 6.5vw;
    }
    .abstractTime,
    .abstractDate,
    .abstractLocation {
      font-size: 3vw;
      margin: 0.5rem 1rem 0.5rem 0.5rem;
    }
    .logo {
      height: 6vw;
      width: 9.5vw;
    }
  }
}
@media (max-width: variables.$max-mobile) {
  .abstractTitle::after {
    border-bottom: 2px solid !important;
  }
  .abstractTime,
  .abstractLocation {
    border-width: 1px !important;
  }
}
