.croquis-story {
  background-color: white;
  border: solid;
  .graphicCroquis {
    width: 25.3125vw;
    max-width: 45vh;
    grid-column-start: 1;
    grid-row-start: 7;
    z-index: 100;
    image-rendering: auto;
  }
  .TemplateText {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: end;
    .croquisTitle {
      word-spacing: 9vw;
      text-transform: uppercase;
      width: 14vw;
      text-align: left;
      left: revert;
      margin-right: 0.4rem;
      font-size: 2.5vw;
    }
    .eventDetails {
      margin-right: 0.4rem;
      width: 14vw;
      text-align: left;
      line-height: 1.2vw;
      font-size: 1.3vw;
    }
  }
  .image {
    background-image: none !important;
    .imageCroquis {
      background-image: url("../../components/assets/abstract.jpg");
      width: 8.4375vw;
      max-width: 15vh;
      height: 45vw;
      max-height: 80.055vh;
    }
  }
  .logo {
    grid-column-start: 1;
    grid-row-start: 8;
    z-index: 100;
    position: relative;
    width: 6vw;
    height: auto;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
    img {
      width: inherit;
      height: inherit;
    }
  }
}

.croquis-post {
  background-color: white;
  border: solid;
  .graphicCroquis {
    width: 25.3125vw;
    max-width: 45vh;
    grid-column-start: 1;
    grid-row-start: 7;
    z-index: 100;
    image-rendering: auto;
  }
  .TemplateText {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: end;
    .croquisTitle {
      word-spacing: 9vw;
      text-transform: uppercase;
      width: 14vw;
      text-align: left;
      left: revert;
      margin-right: 0.4rem;
      font-size: 1.7vw;
      margin-bottom: 1rem;
    }
    .eventDetails {
      margin-right: 0.4rem;
      width: 14vw;
      text-align: left;
      line-height: 1.2vw;
      font-size: 1vw;
      h1 {
        margin: 0;
      }
    }
  }
  .image {
    background-image: none !important;
    .imageCroquis {
      background-image: url("../../components/assets/abstract.jpg");
      width: 7vw !important;
      max-width: 15vh !important;
      height: 25.3vw;
      max-height: 45vh !important;
      aspect-ratio: 1/1;
    }
  }
  .logo {
    grid-column-start: 1;
    grid-row-start: 8;
    z-index: 100;
    position: relative;
    width: 5vw;
    height: auto;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
    img {
      width: inherit;
      height: inherit;
    }
  }
}
.croquis-banner {
  background-color: white;
  border: solid;
  .graphicCroquis {
    width: 60vw;
    max-width: 106.68vh;
    grid-column-start: 1;
    grid-row-start: 7;
    z-index: 100;
    image-rendering: auto;
  }
  .TemplateText {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    .croquisTitle {
      word-spacing: 1vw;
      text-transform: uppercase;
      width: 40vw;
      text-align: left;
      left: revert;
      font-size: 3vw;
      padding-left: 9vw;
    }
    .eventDetails {
      margin-right: 0.4rem;
      width: 14vw;
      text-align: left;
      line-height: 2vw;
      font-size: 1.3vw;
      padding-left: 9vw;

      h1 {
        margin: 0;
      }
    }
  }
  .image {
    background-image: none !important;
    .imageCroquis {
      background-image: url("../../components/assets/abstract.jpg");
      width: 7vw !important;
      max-width: 15vh !important;
      height: 33.75vw;
      max-height: 60vh;
      aspect-ratio: 1/1;
    }
  }
  .logo {
    grid-column-start: 1;
    grid-row-start: 8;
    z-index: 100;
    position: relative;
    width: 5vw;
    height: auto;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
    img {
      width: inherit;
      height: inherit;
    }
  }
}
// media queries
@media (max-width: 900px) {
  .croquis-story {
    .graphicCroquis {
      width: 33.75vw;
      max-width: 60vh;
    }
    .croquisTitle {
      width: 22vw !important;
      font-size: 3.5vw !important;
      margin-right: -0.6rem !important;
    }
    .eventDetails {
      width: 19vw !important;
      font-size: 2.3vw !important;
    }
    .imageCroquis {
      width: 10.4vw !important;
      max-width: 15vh !important;
      height: 60vw !important;
      max-height: 106.68vh !important;
    }
    .logo {
      width: 8vw;
    }
  }
}

@media (max-width: 600px) {
  .croquis-story {
    .graphicCroquis {
      width: 45vw;
      max-width: 80vh;
    }
    .croquisTitle {
      width: 24vw !important;
      font-size: 5vw !important;
      margin-right: -1.5rem !important;
    }
    .eventDetails {
      width: 20vw !important;
      font-size: 2.5vw !important;
      margin-right: 0rem !important;
    }
    .imageCroquis {
      width: 11.4vw !important;
      max-width: 15vh !important;
      height: 80vw !important;
      max-height: 124.24vh !important;
    }
    .logo {
      width: 9vw;
    }
    .opacityDiv {
      height: 80vw !important;
      max-height: 124.24vh !important;
    }
  }
}
