.exhibit-story {
  grid-template-columns: 1fr 1fr !important;
  border: solid black 1px;

  .TemplateText {
    display: flex;
    flex-direction: column;
    row-gap: 1vw;
    height: fit-content;
    grid-row: 6/9 !important;
    grid-column: 1/3;
    justify-self: flex-end;
    width: 17vh !important;
    max-width: 60% !important;
    border-left: solid 1px;
    margin: 0.5vw 0;
    padding-right: 1rem;
    padding-left: 1rem;
    .exhibitTitle {
      text-align: right;
      align-self: flex-end;
      position: relative;
      text-transform: uppercase;
      font-size: 1.5vw;
      margin-bottom: 0;
    }
    .eventDetails {
      display: flex;
      align-self: flex-end;
      // margin-right: 1vw;
      justify-content: right;
      flex-wrap: wrap;
      // max-width: 50%;
      > * {
        font-size: 1vw;
        margin: 0.5vw 0;
      }
    }
  }
  .image {
    width: 25.3125vw !important;
    max-width: 45vh !important;
    height: 45vw !important;
    max-height: 80.055vh !important;
    grid-column: 1/3;
  }
  .opacityDiv {
    grid-column: 1/2;
  }
  .exhibitWhiteBG {
    // max-width: 45vh;
    grid-column: 1/2;
    grid-row: 6/9;
    background-color: white;
    box-shadow: 2px -7px 7px white;
    z-index: 2;
  }
  .logo {
    height: 3vw;
    width: 5vw;
    grid-row: 7/8;
    grid-column: 1/2;
    z-index: 80;
    // background-repeat: no-repeat;
    margin-left: 2vw;
    img {
      width: inherit;
      height: inherit;
    }
  }
}
.exhibit-post {
  width: 30vw;
  height: 30vw;
  .TemplateText {
    // width: 30vw;
    // height: 30vw;
    max-width: 60%;
    position: relative;
    .exhibitTitle {
      font-size: 1.5vw;
      word-spacing: 1.5vw;
    }
  }

  .logo {
    height: 3vw;
    width: 5vw;

    margin-left: 3vw;
  }
  .image {
    width: 30vw;
    height: 30vw;
  }
}
.exhibit-banner {
  .TemplateText {
    width: 60% !important;

    .exhibitTitle {
      font-size: 1.7vw;
    }
    .eventDetails {
      flex-direction: column;
      text-align: right;

      > * {
        font-size: 1.2vw;
      }
    }
  }

  .logo {
    height: 4vw;
    width: 6vw;

    margin-left: 20%;
  }
}
//COMMON STYLING FOR BANNER AND POST

.exhibit-post,
.exhibit-banner {
  border: solid black 1px;
  width: 30vw;
  height: 30vw;
  .TemplateText {
    display: flex;
    position: relative;
    flex-direction: column;
    height: fit-content;
    grid-row: 6/9 !important;
    grid-column: 1/3;
    justify-self: flex-end;
    // border-left: solid 2px;
    margin: 0.5vw 0;

    .exhibitTitle {
      text-align: right;
      align-self: flex-end;
      margin-right: 2vw;
      text-transform: uppercase;
      position: relative;

      margin-bottom: 0;
    }
    .eventDetails {
      display: flex;
      align-self: flex-end;
      margin-right: 2vw;
      justify-content: right;
      flex-wrap: wrap;
      max-width: 50%;
      > * {
        font-size: 1vw;
        margin: 0.5vw 0;
      }
    }
  }
  .TemplateText::after {
    content: "";
    position: absolute;
    // left: 10%;
    // bottom: -20%;
    height: 100%;
    // width: 100%;
    border-left: 2px solid;
  }
  .image {
    width: 30vw;
    height: 100%;
    grid-column: 1/3;
  }
  .opacityDiv {
    grid-column: 1/3;
  }
  .exhibitWhiteBG {
    grid-column: 1/3;
    grid-row: 6/9;
    background-color: white;
    box-shadow: 2px -7px 7px white;
    z-index: 2;
  }
  .logo {
    grid-row: 7/8;
    grid-column: 1/2;
    z-index: 80;
    background-repeat: no-repeat;
    img {
      width: inherit;
      height: inherit;
    }
  }
}
// media queries
@media (max-width: 900px) {
  .exhibit-story {
    .TemplateText {
      margin: 2vw 0;
      width: 100% !important;
    }
    .exhibitTitle {
      padding-right: 0.8rem;
      font-size: 3vw !important;
    }
    .eventDetails {
      > * {
        font-size: 1.5vw !important;
        padding-right: 0.8rem;
      }
    }
    .image {
      width: 39.15vw !important;
      max-width: 65vh !important;
      height: 65vw !important;
      max-height: 106.688vh !important;
    }
  }
  .exhibit-post {
    width: 55vw;
    height: 55vw;
    .TemplateText {
      width: 55vw;
      margin: 1vw 0;
      max-width: 67%;
      .exhibitTitle {
        font-size: 3.5vw;
        width: 32vw;
        word-spacing: 0.5vw;
      }
      .eventDetails {
        width: 55vw;
        > * {
          font-size: 2vw;
        }
      }
    }
    .image {
      width: 55vw;
    }
    .logo {
      width: 10vw;
      height: auto;
    }
  }
  .exhibit-banner {
    width: 90vw;
    // height: 30vw;
    .TemplateText {
      // border-left: solid 2px;

      .exhibitTitle {
        font-size: 3.5vw;
      }
      .eventDetails {
        > * {
          font-size: 2.5vw;
          margin: 0.5vw 0;
        }
      }
    }

    .logo {
      height: 9vw;
      width: 13vw;
      margin-left: 16%;
      img {
        width: 15vw;
        height: auto;
      }
    }
  }
}
@media (max-width: 600px) {
  .exhibit-story {
    .image {
      width: 47.8125vw !important;
      max-width: 85vh !important;
      height: 85vw !important;
      max-height: 151.13vh !important;
    }
    .logo {
      height: 5vw;
      width: 8vw;
    }
  }
  .exhibit-post {
    width: 65vw;
    height: 65vw;
    .TemplateText {
      width: 65vw;
      .exhibitTitle {
        font-size: 3.5vw;
      }
      .eventDetails {
        width: 65vw;
      }
    }
    .image {
      width: 65vw;
    }
  }
}
