@use "../variables";
//COMMON STYLING
.outside-story,
.outside-post,
.outside-banner {
  .TemplateText {
    font-family: var(--heading-font);
    display: flex;
    flex-direction: column;
    max-height: 80%;
    justify-content: space-between;
  }
  .outsideTitle {
    font-size: 2.5vw;
    letter-spacing: 0.3vw;
    border-top: solid 3px;
    border-left: solid 3px;
    // width: min-content;
    line-height: 3.5vw;
    padding: 1vw;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 2px 2px 3px rgba(255, 255, 255, 0.3);
    text-transform: uppercase;
  }
  .eventDetails {
    width: fit-content;

    > * {
      letter-spacing: 0.3vw;
    }
  }

  .logo {
    height: 3vw;
    width: 5vw;
    grid-row: 8/9;
    grid-column: 1/2;
    z-index: 80;
    background-repeat: no-repeat;
    img {
      width: inherit;
      height: inherit;
    }
  }
}
.outside-story {
  .outsideTitle {
    margin-left: 3vw;
    width: min-content;
    position: relative;
  }
  .eventDetails {
    margin: 0 2vw 0 auto;

    > * {
      text-align: right;
      margin: 1vw 0;
    }
  }
  .outsideTime:after {
    position: absolute;
    width: 200px;
    height: 100px;
    border: solid;
    border-width: 0 2px 2px 0;
    top: -5rem;
    right: -0.2rem;
    content: " ";
    z-index: 0;
  }

  .logo {
    margin: 0 0 2vw 2vw;
    justify-self: self-start;
    img {
      width: inherit;
      height: inherit;
    }
  }
}
.outside-post {
  .outsideTitle {
    margin-left: 2vw;
    width: min-content;
    position: relative;
  }
  .eventDetails {
    border-bottom: solid white 3px;
    border-left: solid white 3px;
    margin: 0 auto 0 2vw;

    > * {
      text-align: left;
      padding: 0.5vw;
      margin: 0.1vw 0;
    }
  }
  .outsideTime:after {
    // position: absolute;
    // width: 200px;
    // height: 100px;
    // border: solid;
    border-width: 0 0 2px 2px;
    // top: -5rem;
    // right: -0.2rem;
    // content: " ";
    // z-index: 0;
  }
  .logo {
    justify-self: self-end;
    margin: 0 2vw 2vw 0;
  }
  .image {
    width: 30vw;
  }
}
.outside-banner {
  .outsideTitle {
    margin-left: 3vw;
    width: fit-content;
    position: relative;
    max-width: 60%;
  }
  .eventDetails {
    border-bottom: solid white 3px;
    border-left: solid white 3px;
    margin: 0 auto 0 3vw;
    font-size: 1.3vw;
    position: relative;
    z-index: 200;
    > * {
      text-align: left;
      padding: 0.5vw;
      margin: 0.1vw 0 0 1vw;
    }
  }
  .logo {
    justify-self: self-end;
    margin: 0 2vw 2vw 0;
  }
}
// media queries
@media (max-width: 900px) {
  .outside-story {
    .outsideTitle {
      font-size: 3.5vw;
      line-height: 4.5vw;
    }
    .logo {
      width: 8vw;
      height: 6vw;
    }
  }
}
@media (max-width: 600px) {
  .outside-story {
    .TemplateText {
      width: 45vw !important;
    }
    .outsideTitle {
      font-size: 5vw;
      line-height: 6vw;
    }
    .logo {
      width: 12vw;
      height: 8vw;
    }
    .image {
      width: 45vw !important;
      max-width: 80vh !important;
      height: 80vw !important;
      max-height: 124.24vh !important;
    }
  }
}
