// these classes change the format and keep the aspect ratio while resizing the screen
.storySize {
  width: 25.3125vw;
  max-width: 45vh;
  height: 45vw;
  max-height: 80.055vh;
  .TemplateText {
    width: 25.3125vw;
    max-width: 45vh;
  }
  .image {
    position: inherit;
    z-index: 2;
    width: 25.3125vw;
    max-width: 45vh;
    height: 45vw;
    max-height: 80.055vh;
    img {
      width: 25.3125vw;
      max-width: 45vh;
      height: 45vw;
      max-height: 80.055vh;
      position: relative;
      z-index: -11;
    }
  }
}
.storySize + .appendhere canvas {
  position: absolute;
  left: 35% !important;
  top: 10% !important;
}
//POST
.postSize {
  max-width: 30vw;
  max-height: 30vw;
  aspect-ratio: 1/1;
  .opacityDiv {
    z-index: -5;
  }
  .image {
    max-width: 30vw;
    max-height: 30vw;
    position: inherit;
    z-index: 2;
    aspect-ratio: 1/1;
    img {
      width: 30vw;
      max-height: 30vw;
      aspect-ratio: 1/1;
      position: relative;
      z-index: -11;
    }
  }
}
.postSize + .appendhere canvas {
  position: absolute;
  top: 20% !important;
  left: 35% !important;
}
.bannerSize {
  margin: 1vw;
  width: 60vw;
  max-width: 106.68vh;
  height: 33.75vw;
  max-height: 60vh;
  .TemplateText {
    width: 60vw;
    max-width: 106.68vh;
  }
  .image {
    position: inherit;
    z-index: 2;
    width: 60vw;
    max-width: 106.68vh;
    height: 33.75vw;
    max-height: 60vh;
    img {
      width: 60vw;
      max-width: 106.68vh;
      height: 33.75vw;
      max-height: 60vh;
      position: relative;
      z-index: -11;
    }
  }
}
.bannerSize + .appendhere canvas {
  position: absolute;
  left: 25% !important;
  top: 20% !important;
}
.storySize,
.postSize,
.bannerSize {
  .TemplateText {
    .title {
      z-index: 100;
    }
    .details {
      z-index: 200;
      position: inherit;
      > * {
        z-index: 200;
        position: relative;
      }
    }
  }
  .logo {
    position: inherit;
    img {
      z-index: 99;
      position: relative;
    }
  }
}
// media queries
@media (max-width: 900px) {
  .storySize {
    width: 39.15vw;
    max-width: 65vh;
    height: 65vw;
    max-height: 106.688vh;
    .TemplateText {
      width: 39.15vw;
      max-width: 65vh;
    }
    .image {
      position: inherit;
      z-index: 2;
      width: 39.15vw;
      max-width: 65vh;
      height: 65vw;
      max-height: 106.688vh;
      img {
        width: 39.15vw;
        max-width: 65vh;
        height: 65vw;
        max-height: 106.688vh;
        position: relative;
        z-index: -11;
      }
    }
  }
  .storySize + .appendhere canvas {
    position: absolute;
    left: 33% !important;
    top: 20% !important;
  }
  .postSize + .appendhere canvas {
    position: absolute;
    top: 24% !important;
    left: 23% !important;
  }
  .bannerSize + .appendhere canvas {
    position: absolute;
    left: 5% !important;
    top: 24% !important;
  }
  .postSize {
    max-width: 55vw;
    max-height: 55vw;
    .image {
      max-width: 55vw;
      max-height: 55vw;
      img {
        width: 55vw;
        max-height: 55vw;
      }
    }
  }
  .bannerSize {
    width: 90vw;
    max-width: 160.02vh;
    height: 50.625vw;
    max-height: 90vh;
    .TemplateText {
      width: 90vw;
      max-width: 160.02vh;
    }
    .image {
      width: 90vw;
      max-width: 160.02vh;
      height: 50.625vw;
      max-height: 90vh;
      img {
        width: 90vw;
        max-width: 160.02vh;
        height: 50.625vw;
        max-height: 90vh;
      }
    }
  }
}
@media (max-width: 600px) {
  .storySize {
    width: 47.8125vw;
    max-width: 85vh;
    height: 85vw;
    max-height: 151.13vh;
    .TemplateText {
      width: 47.8125vw;
      max-width: 85vh;
    }
    .image {
      position: inherit;
      z-index: 2;
      width: 47.8125vw;
      max-width: 85vh;
      height: 85vw;
      max-height: 151.13vh;
      img {
        width: 47.8125vw;
        max-width: 85vh;
        height: 85vw;
        max-height: 151.13vh;
        position: relative;
        z-index: -11;
      }
    }
  }
  .postSize {
    max-width: 65vw;
    max-height: 65vw;
    .image {
      max-width: 65vw;
      max-height: 65vw;
      img {
        width: 65vw;
        max-height: 65vw;
      }
    }
  }
  .storySize + .appendhere canvas {
    position: absolute;
    left: 26% !important;
    top: 20% !important;
  }
  .postSize + .appendhere canvas {
    position: absolute;
    top: 27% !important;
    left: 17% !important;
  }
  .bannerSize + .appendhere canvas {
    position: absolute;
    left: 5% !important;
    top: 32% !important;
  }
}
