// these classes change the format and keep the aspect ratio while resizing the screen
.storySize {
  width: 25.3125vw;
  max-width: 45vh;
  height: 45vw;
  max-height: 80.055vh;
  .TemplateText {
    width: 25.3125vw;
    max-width: 45vh;
  }
  .image {
    position: inherit;
    z-index: 2;
    width: 25.3125vw;
    max-width: 45vh;
    height: 45vw;
    max-height: 80.055vh;
    img {
      width: 25.3125vw;
      max-width: 45vh;
      height: 45vw;
      max-height: 80.055vh;
      position: relative;
      z-index: -11;
    }
  }
}
.storySize + .appendhere canvas {
  position: absolute;
  left: 35% !important;
  top: 10% !important;
}
//POST
.postSize {
  max-width: 30vw;
  max-height: 30vw;
  aspect-ratio: 1/1;

  .opacityDiv {
    z-index: -5;
  }
  .image {
    max-width: 30vw;
    max-height: 30vw;
    position: inherit;
    z-index: 2;
    aspect-ratio: 1/1;
    img {
      width: 30vw;
      max-height: 30vw;
      aspect-ratio: 1/1;
      position: relative;
      z-index: -11;
    }
  }
}
.postSize + .appendhere canvas {
  position: absolute;
  top: 20% !important;
  left: 35% !important;
}

.bannerSize {
  margin: 1vw;
  width: 60vw;
  max-width: 106.68vh;
  height: 33.75vw;
  max-height: 60vh;
  .TemplateText {
    width: 60vw;
    max-width: 106.68vh;
  }
  .image {
    position: inherit;
    z-index: 2;
    width: 60vw;
    max-width: 106.68vh;
    height: 33.75vw;
    max-height: 60vh;
    img {
      width: 60vw;
      max-width: 106.68vh;
      height: 33.75vw;
      max-height: 60vh;
      position: relative;
      z-index: -11;
    }
  }
}

.bannerSize + .appendhere canvas {
  position: absolute;
  left: 25% !important;
  top: 20% !important;
}

.storySize,
.postSize,
.bannerSize {
  .TemplateText {
    .title {
      z-index: 100;
    }
    .details {
      z-index: 200;
      position: inherit;
      > * {
        z-index: 200;
        position: relative;
      }
    }
  }
  .logo {
    position: inherit;
    img {
      z-index: 99;
      position: relative;
    }
  }
}
