@use "./styles/variables.scss";
@use "./styles/templateFormatScreen";
.Editor {
  border: solid red 1px;
  background-color: #fdfbf8;
}
.Preview {
  width: 50%;
}
.hidden {
  display: none;
}

.lightGreen {
  background-color: #e9efed;
}
.lightGrey {
  background-color: #c3c1c4;
}
.pink {
  background-color: #cc9e87;
}
.green {
  background-color: #839388;
}
.grey {
  background-color: #6c6c6e;
}
.logo {
  height: 3rem;
  width: 5rem;
  background-repeat: no-repeat;
}
.imageSelect {
  display: flex;

  * {
    width: 5rem;
    height: 5rem;
    margin: 0 0.5rem;
  }
}
.MockupsSection {
  > * {
    width: 5rem;
    height: 6rem;
    border: solid blue 1px;
  }
}
.hidden {
  display: none;
}
