.Editor {
  border: solid red 1px;
  background-color: #fdfbf8;
}
.Preview {
  width: 50%;
}
.lightGreen {
  background-color: #e9efed;
}
.lightGrey {
  background-color: #c3c1c4;
}
.pink {
  background-color: #cc9e87;
}
.green {
  background-color: #839388;
}
.grey {
  background-color: #6c6c6e;
}
.logo {
  // background-image: url("/components/logos_svg/logo-black.svg");
  height: 3rem;
  width: 5rem;
  background-repeat: no-repeat;
}
.imageSelect {
  display: flex;

  * {
    width: 5rem;
    height: 5rem;
    margin: 0 0.5rem;
  }
}
.MockupsSection {
  > * {
    width: 5rem;
    height: 6rem;
    border: solid blue 1px;
  }
}
.templateOptions {
  display: flex;
  div > * {
    width: 7rem;
    height: auto;
  }
}
