@use "./styles/variables";
@use "./styles/templateFormatScreen";
@use "./styles/templates/abstract";
@use "./styles/templates/croquis";
@use "./styles/templates/exhibit";
@use "./styles/templates/outdoor";
@use "./styles/templates/sizes";

@use "./styles/editor";
.Editor {
  border: solid red 1px;
  background-color: #fdfbf8;
}
.Preview {
  width: 100%;
}
// .templateContainer {
//   width: 45vw;
//   max-width: 80vh;
// }

.hidden {
  display: none;
}

.lightGreen {
  background-color: #e9efed;
}
.lightGrey {
  background-color: #c3c1c4;
}
.pink {
  background-color: #cc9e87;
}
.green {
  background-color: #839388;
}
.grey {
  background-color: #6c6c6e;
}
.black {
  background-color: black;
}
.white {
  background-color: white;
}
.logo {
  height: 3rem;
  width: 5rem;
  background-repeat: no-repeat;
}
.imageSelect {
  display: flex;
  column-gap: 1rem;
  // justify-content: space-between;

  * {
    width: 6vw;
    height: 6vw;
    // margin: 0 0.5rem;
  }
}
.MockupsSection {
  > * {
    width: 5rem;
    height: 6rem;
    border: solid blue 1px;
  }
}
.hidden {
  display: none;
}
// .appendhere canvas {
//   width: 90px !important;
//   height: 90px !important;
// }
